@using Cfcusaga.Web.Models
@model cfcusaga.domain.Events.Item

@{
    ViewBag.Title = "Details";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>

<!-- Button trigger modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>An item was added to your cart.</strong> To check out now simply <a href="#" class="alert-link">click here</a>.
    </div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm check out.</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to check out or keep shopping?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Check Out</button>
            </div>
        </div>
    </div>
</div>





<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr/>
    @*<dl class="dl-horizontal">
        <img src="@Url.Action("RenderImage", new { id = Model.Id})" />
    </dl>*@
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Catagorie.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catagorie.Name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
           Pictures:
        </dt>
        <dd>
            @if (Model.InternalImage != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.InternalImage)" alt="" width="400" height="300"/>
            }
            
        </dd>
        
    </dl>
</div>
@*@if (Model.IsRequireTshirtSize)
{
    <div class="form-group">
  
        @Html.LabelFor(model => model.TshirtSize, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TshirtSize, (IEnumerable<SelectListItem>) ViewBag.TshirtSizes, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.TshirtSize, "", new {@class = "text-danger"})
        </div>
    </div>
}*@

@if (Model.CatagorieId == (int) CategoryTypeEnum.Tshirt)
{
    using (Html.BeginForm("AddItemToCart", "ShoppingCart", FormMethod.Post, new {item = Model}))
     {
         @Html.HiddenFor(m => m.Id)
         ;

         <div class="form-group">

             @Html.LabelFor(model => model.TshirtSize, htmlAttributes: new {@class = "control-label col-md-2"})
             <div class="col-md-10">
                 @Html.DropDownListFor(model => model.TshirtSize, (IEnumerable<SelectListItem>) ViewBag.TshirtSizes, new {htmlAttributes = new {@class = "form-control"}})
                 @Html.ValidationMessageFor(model => model.TshirtSize, "", new {@class = "text-danger"})
             </div>
         </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
}
else if (Model.CatagorieId == (int)CategoryTypeEnum.Registration)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Add", "Create", "ItemRegistrations", new { itemId = ViewBag.ItemId }, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
}
<p>

    <div>

    </div>
    @*<a href="#" class="AddLink"
       data-id="@Model.Id" data-toggle="modal" data-target="#myModal">
        Add
        to cart
    </a>*@
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id})

    }


</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>