@model PagedList.IPagedList<cfcusaga.domain.Events.Item>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Events";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>

<!-- Button trigger modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>An item was added to your cart.</strong> To check out now simply <a href="#" class="alert-link">click here</a>.
    </div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm check out.</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to check out or keep shopping??</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Continue</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Check Out</button>
            </div>
        </div>
    </div>
</div>




<h2>@ViewBag.EventName</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div class="bs-docs-section" style="display: none">
    <div class="row">
            @using (Html.BeginForm("Index", "Items", FormMethod.Get))
            {
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Find: </span>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-info btn-sm" value="Search" />
                        </span>
                    </div>
                </div>
            }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Item Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Item Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })<span>|</span>

                }                
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @if (item.CatagorieId == 2)
                {
                    @Html.ActionLink("Add", "Create", "ItemRegistrations", new {itemId = item.Id}, new {@class = "btn btn-primary btn-xs"})
                }
                else if (item.CatagorieId == 3) //Tshirt
                {
                    @Html.ActionLink("Add", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                    @*@Html.ActionLink("Add", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })*@
                }
                else
                {
                    <a href="#" class="AddLink btn btn-primary btn-xs"
                       data-id="@item.Id" data-toggle="modal" data-target="#myModal">
                        Add
                    </a>
                }

                @*<a href="#" class="AddLink"
               data-id="@item.Id" data-toggle="modal" data-target="#myModal">
                Add
                to cart
            </a>*@


                <!--@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new {id = item.Id}, new {htmlAttributes = new {@data_toggle = "modal", @data_target = "#myModal"}})-->


            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div>
    *After you submit your registration during checkout, you will receive a confirmation email (after 5-15 minutes) and the names should appear here in the
    <a href="~/Reports/Registrations" title="Registrants">current registrants</a>
</div><br/>
<div>
    Checkout Process:
    <ul>
        <li>Review your 'Cart' and click 'Checkout'</li>
        <li>If you have not login yet, you will be ask to create an account(email and password) by clicking the 'Register a new user' link</li>
        <li>After creating the account, please login with email and password you created in the previous step.</li>
        <li>In the Address and Payment page, check the  'Consent and Release Waiver' and click'Submit Order'.</li>
        <li>If the registration is successful, you will receive an email (in 5-15 minutes) with the confirmation number and order details/registrants.</li>
        <li>You may also check here to see the <a href="~/Reports/Registrations" title="Registrants">current registrants</a></li>
        <li><span style="color: red; font-weight: bold">Please do not forget to add <a href="~/Items/Details/6">Room (with 4 beds)</a> or Bedspace for your overnight stay</span>. Click <a href="~/Items/Details/6">here</a> to see room details with pictures.</li>
        <li><span style="color: red; font-weight: bold">If you have a youth, please register them under "Youth Registration" ($55) item. This will cover the 4 meals, snacks, security fee and Conference room fees.</span></li>
    </ul>
</div>